
volumes:
  home:
services:
  vscode:
    build:
      context: .
      dockerfile: Dockerfile
    user: ${UID:-0}:${GID:-0}
    group_add:
      - 27   # sudo
      - 988  # docker
    post_start:
      - user: root
        command: |
          bash -c "set -eux; mkdir -p ${HOME:-/root}; cp -nR /etc/skel/. ${HOME:-/root}; chown -R ${USER:-root} ${HOME:-/root};"
    working_dir: ${HOME:-/root}
    environment:
      - MACHINE_NAME=${MACHINE_NAME:-vscode-tunnel}
      - HOME=${HOME:-/root}
    volumes:
      - home:${HOME:-/root}
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - /etc/shadow:/etc/shadow:ro
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/lib/docker:/var/lib/docker:rw
      - /etc/sudoers:/etc/sudoers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ${HOME:-/root}:${HOME:-/root}/host_home
    restart: unless-stopped
