
configs:
  init_script:
    file: ./src/init
volumes:
  vscode_data:
services:
  vscode:
    build:
      context: .
      dockerfile: Dockerfile
    user: ${UID:-0}:${GID:-0}
    post_start:
      - user: root
        command: |
          bash -c "set -eux; mkdir -p ${HOME:-/root}; cp -a /etc/skel/. ${HOME:-/root}; chown -R ${USER:-root}:${USER:-root} ${HOME:-/root};"
    working_dir: ${HOME:-/root}
    environment:
      - MACHINE_NAME=${MACHINE_NAME:-vscode-tunnel}
      - HOME=${HOME:-/root}
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - /etc/shadow:/etc/shadow:ro
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - vscode_data:${HOME:-/root}/.vscode-server
      - ./data/code_tunnel.json:${HOME:-/root}/.vscode/cli/code_tunnel.json
      - ./data/token.json:${HOME:-/root}/.vscode/cli/token.json

      - /var/run/docker.sock:/var/run/docker.sock
      - ${HOME:-/root}:${HOME:-/root}/host_home
    restart: unless-stopped
